<div class="row mr-3 ml-3">
    <div class="col-sm-12 card mt-4 p-2">
        <p class="card-text ml-4">Current Folder: <%= render partial: "recursif" %></p>  
    </div>
    <%= render partial: "find_outs", locals: {value: 0} %>
    <div class="col-sm-8 card mt-4 p-2">
        <div class="row ml-0">
            <div class="col-sm-5 card-header ml-3 p-3 mt-4">
                <h4 class="text-center">Folder Information</h4>
                <hr>
                <p>Owner                : Admin</p>
                <p>Name Folder          : <b><%= @folder.name%></b></p>
                <p>Created              : <%= @folder.created_at.strftime("%d/%m/%Y")%> </p>
            </div>
            <div class="col-sm-6 ml-4 card-header p-3 mt-4">
                <h4 class="text-center">Upload</h4>
                <hr>
                <h3 class="bg-warning text-white text-center">Upload Your Files here</h3>
            </div>
        </div>
        <div class="col-sm-12 card-header p-3 mt-4">
            <h4 class="text-center">Folder Contents</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">Name Folder</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% @content_folders.each do |content_folder|%>
                            <%
                                Dir.chdir(ENV['APP_FOLDER'] + "/work-folder" + $global_path) 
                                if File.directory?(content_folder)
                                    Dir.chdir(ENV['APP_FOLDER'] + "/work-folder" + $global_path + content_folder) 
                                    item = Dir.glob("*").count
                                    mystatus = "Folder: " + item.to_s + " files and Folder"
                                    @ff = Folder.find_by(name: content_folder)
                                else
                                    @ff = Document.find_by(name: content_folder)
                                    mystatus = "Not Folder"
                                end
                            %>
                        <tr>
                            <th scope="row"></th>
                            <td><p class="mb-0"> <%= link_to content_folder, @ff%><p> <small>Owner: <b>Admin</b> Created: <b><%= @ff.created_at.strftime("%d/%m/%Y")%></b></small></td>
                            <td><%= mystatus%></td>
                            <td >
                                <div id="iconku" class="text-center">
                                    <% Dir.chdir(ENV['APP_FOLDER'] + "/work-folder" + $global_path) %>
                                    <% unless File.directory?(content_folder)%>
                                        <button class="btn mt-1"><i class="fa fa-lock"></i></button>
                                        <button class="btn mt-1"><%= link_to "", document_path(@ff.id), {method: :delete, data: { confirm: "Are you sure?"}, class: "fa fa-trash"}%></button>
                                        <button class="btn mt-1"><%= link_to "", edit_document_path(@ff.id), class: "fa fa-edit"%></button>  
                                        <button class="btn mt-1"><%= link_to "", document_path(@ff.id), class: "fa fa-eye"%></button>     
                                    <%else%>
                                        <button class="btn mt-1"><%= link_to "", folder_path(@ff.id), {method: :delete, data: { confirm: "Are you sure?"}, class: "fa fa-trash"}%></button>
                                        <button class="btn mt-1"><%= link_to "", edit_folder_path(@ff.id), class: "fa fa-edit"%></button>
                                    <%end%>
                                </div>
                            </td>
                        </tr>
                    <%end%>
                </tbody>
                </table>
            <hr>
        </div>
    </div>
</div>