<div class="row ml-3 mr-3">
    <div class="col-sm-12 card-header mt-4 p-2">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <%= link_to "Root Folder", folders_path, class:"navbar-brand ml-4"%>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Tools" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="Tools">
            <span class="navbar-text">
            <%if (can? :create, Folder) && ((@folder.account_id == current_account.id) || @current_account&.admin?)%>
                <a class="nav-item ml-4"><%= link_to "Add Sub Folder", new_folder_path %></a>
            <%end%>
            <%if (can? :destroy, Folder) && ((@folder.account_id == current_account.id) || @current_account&.admin?)%>
                <a class="nav-item ml-4"><%= link_to "Remove Folder", folder_path($parent_id), method: :delete, data: { confirm: "Are you sure?" } %></a>
            <%end%>
            <%if (can? :create, Document) && ((@folder.account_id == current_account.id) || @current_account&.admin?)%>
                <a class="nav-item ml-4"><%= link_to "Add File", new_document_path %></a>
            <%end%>
            <%if (can? :update, Folder) && ((@folder.account_id == current_account.id) || @current_account&.admin?)%>    
                <a class="nav-item ml-4"><%= link_to "Edit Folder", edit_folder_path($parent_id)%></a>
            <%end%>
            </span>
            </div>
        </nav>
    </div>
</div>


<div class="row mr-3 ml-3">
    <div class="col-sm-12 card mt-4 p-2">
        <p class="card-text ml-4">Current Folder: <%= render partial: "recursif" %></p>  
    </div>
    <%= render partial: "find_outs", locals: {value: 0} %>
    <div class="col-sm-8 card mt-4 p-2">
        <div class="row ml-0">
            <div class="col-sm-5 card-header ml-3 p-3 mt-4">
                <h4 class="text-center">Folder Information</h4>
                <hr>
                <p>Owner                : <%= link_to @folder.account.full_name, account_path(@folder.account_id)%> as <b><%= @folder.account.role.name%></b></p>
                <p>Name Folder          : <b><%= @folder.name%></b></p>
                <p>Created              : <%= @folder.created_at.strftime("%d/%m/%Y")%> </p>
            </div>
            <div class="col-sm-6 ml-4 card-header p-3 mt-4">
                <h4 class="text-center">Upload</h4>
                <hr>
                <h3 class="bg-warning text-white text-center">Upload Your Files here</h3>
            </div>
        </div>
        <div class="col-sm-12 card-header p-3 mt-4">
            <h4 class="text-center">Folder Contents</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">Name Folder</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% @content_folders.each do |content_folder|%>
                            <%
                                Dir.chdir("#{Rails.root}/work-folder#{$global_path}") 
                                if File.directory?(content_folder)
                                    Dir.chdir("#{Rails.root}/work-folder#{$global_path}#{content_folder}") 
                                    item = Dir.glob("*").count
                                    mystatus = "Folder: " + item.to_s + " files and Folder"
                                    @ff = Folder.find_by(name: content_folder)
                                    @myname = @ff.account.full_name
                                    @myrole = @ff.account.role.name
                                    
                                else
                                    @ff = Document.find_by(name: content_folder)
                                    mystatus = "Not Folder"
                                    @myname = @ff.folder.account.full_name
                                    @myrole = @ff.folder.account.role.name
                                end
                            %>
                        <tr>
                            <th scope="row"></th>
                            <td><p class="mb-0"> <%= link_to content_folder, @ff%><p> <small>Owner: <b><%= @myname%></b>, Role: <b><%= @myrole%></b>, Created: <b><%= @ff.created_at.strftime("%d/%m/%Y")%></b></small></td>
                            <td><%= mystatus%></td>
                            <td >
                                <div id="iconku" class="text-center">
                                    <% Dir.chdir("#{Rails.root}/work-folder#{$global_path}") %>
                                    <% unless File.directory?(content_folder)%>
                                        <!--<button class="btn mt-1"><i class="fa fa-lock"></i></button>-->
                                        <%if (can? :destroy, Document) && ((@ff.folder.account.id == current_account.id) || @current_account&.admin?)%>
                                            <button class="btn mt-1"><%= link_to "", document_path(@ff.id), {method: :delete, data: { confirm: "Are you sure?"}, class: "fa fa-trash"}%></button>
                                        <%end%>
                                        <%if (can? :update, Document) && ((@ff.folder.account.id == current_account.id) || @current_account&.admin?)%>
                                            <button class="btn mt-1"><%= link_to "", edit_document_path(@ff.id), class: "fa fa-edit"%></button>  
                                        <%end%>
                                        <%#if (can? :read, Document) && ((@ff.folder.account.id == current_account.id) || @current_account&.admin?)%>
                                            <button class="btn mt-1"><%= link_to "", document_path(@ff.id), class: "fa fa-eye"%></button>    
                                        <%#end%> 
                                    <%else%>
                                        <%if (can? :destroy, Folder) && ((@ff.account.id == current_account.id) || @current_account&.admin?)%>
                                            <button class="btn mt-1"><%= link_to "", folder_path(@ff.id), {method: :delete, data: { confirm: "Are you sure?"}, class: "fa fa-trash"}%></button>
                                        <%end%>
                                        <%if (can? :update, Folder) && ((@ff.account_id == current_account.id) || @current_account&.admin?)%>  
                                            <button class="btn mt-1"><%= link_to "", edit_folder_path(@ff.id), class: "fa fa-edit"%></button>
                                        <%end%>
                                        <%#if (can? :read, Folder) && ((@ff.account_id == current_account.id) || @current_account&.admin?)%>
                                            <button class="btn mt-1"><%= link_to "", folder_path(@ff.id), class: "fa fa-eye"%></button>
                                        <%#end%>     
                                    <%end%>
                                </div>
                            </td>
                        </tr>
                    <%end%>
                </tbody>
                </table>
            <hr>
        </div>
    </div>
</div>