<%= form_for @document do |form|%>
    <div class="row">
        <div class="col-sm-6 card">

            <div class="form-group">
                <%= label_tag :description%>
                <%= form.text_field :description, {class: "form-control", autocomplete:"off"}%>
            </div>

            <div class="form-group">
                <%= label_tag :file%>
                <%= form.text_field :name, {class: "form-control", autocomplete:"off"}%>
            </div>

            <%= form.submit "Change" ,class: "btn btn-primary mb-4"%>
        </div>
    </div>
<%end%>