<div class="row ml-3 mr-3">
    <div class="col-sm-12 card-header mt-4 p-2">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <%= link_to "Root Folder", folders_path, class:"navbar-brand ml-4"%>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Tools" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="Tools">
            <span class="navbar-text">
                <%if (can? :update, Document) && ((@document.folder.account.id == current_account.id) || @current_account&.admin?)%>
                    <a class="nav-item ml-4"><%= link_to "Edit Files", edit_document_path(@document.id) %></a>
                <%end%>
                <%if (can? :destroy, Document) && ((@document.folder.account.id == current_account.id) || @current_account&.admin?)%>
                    <a class="nav-item ml-4"><%= link_to "Remove Files", document_path(@document.id), {method: :delete, data: { confirm: "Are you sure?"}}%></a>    
                <%end%>
            </span>
            </div>
        </nav>
    </div>
</div>

<div class="mt-4">
    <div class="row ml-3 mr-3">
        <div class="col-sm-4">
            <div class="card p-3">
                <h4 class="text-center">File Information</h4>
                <hr>
                <p>Owner                : <%= @document.folder.account.full_name%></p>
                <p>Name Document        : <b><%= @document.name%></b></p>
                <p>Created              : <%= @document.created_at.strftime("%d/%m/%Y %H:%M")%></p>
                <p>Used disk space      : <%= @size%> KB</p>
                <!--=<p>Modify               : <%= @modify.strftime("%d/%m/%Y %H:%M")%></p>
                <p>Last Access          : <%= @access.strftime("%d/%m/%Y %H:%M")%></p>-->
                <p>Content-type         : <%= @document.content%></p>
                <p>Version              : <%= @document.version%></p>
            </div>
        </div>
        <div class="col-sm-8">
        <b class="h4"><%= @document.name %></b>
            <hr>
            <div id="status_button" class="text-center">
                <p>Description File : <b><%= @document.description%></b></p>
                <button class="btn mt-1"><%= link_to "", documents_download_path, class: "fa fa-download"%></button>
                <h4 class="mt-3">Click to download</h4>
            </div>
        </div>
        <%# <div class="col-sm-4"> %>
        <%# <b class="h4">Status</b>
            <hr>
            
        </div> %>
    </div>
</div>